Repository CareFrameAI/careframe-research, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, ui, data, nlp, blockchain, ci

Update repository URLs to point to CareFrameAI/careframe-research
  CONTRIBUTING.md
  README.md
  docs/source/installation.rst
  setup.py
Labels: documentation, ci

Added preprocessing module. Fixed hypothesis manager to display test correctly.
  app.py
  data/preprocess/preprocess.py
  llms/client.py
  qt_sections/hypotheses_manager.py
  qt_sections/llm_manager.py
Labels: core, ui, data

Add privacy folder with PHI management tools
  privacy/patterns.json
  privacy/phi_manager.py
  privacy/privacy_filter.py
  privacy/requirements.txt
Labels: none

Updated workflow
  .github/workflows/python-app.yml
  privacy/phi_manager.py
  privacy/privacy_filter.py
  privacy/requirements.txt
Labels: ci

unused files - but could be
  bionlp/main.py
  data/evaluation/format.py
Labels: data, nlp

fixes for workflow actions
  qt_sections/study_design.py
  study_model/studies_manager.py
Labels: ui

Update SECURITY.md
  SECURITY.md
Labels: none

enable chaining of hypothesis, preprocessing now uses hypothesis
  .gitignore
  data/collection/collect.py
  data/preprocess/preprocess.py
  data/selection/select.py
  data/sensitivity/sensitivity.py
  plan/hypothesis_generator.py
  plan/plan_dialogs.py
  plan/research_goals.py
  plan/variable_selection.py
Labels: data

Added missing method in preprocess; update to enums in studies manager
  data/preprocess/preprocess.py
  qt_sections/agent.py
  study_model/studies_manager.py
Labels: ui, data

.github/labeler.yml:

# Add 'core' label to any changes in core files
core:
  - app.py
  - server.py
  - server_websocket/**/*

# Add 'documentation' label to any changes in documentation files
documentation:
  - README.md
  - CONTRIBUTING.md
  - CHANGELOG.md
  - docs/**/*
  
# Add 'ui' label to any changes in UI files
ui:
  - qt_sections/**/*
  - qt_components/**/*
  - qt_helpers/**/*
  - qt_workers/**/*
  
# Add 'data' label to any changes in data-related files
data:
  - data/**/*
  - datasets/**/*
  
# Add 'nlp' label to any changes in NLP-related files
nlp:
  - bionlp/**/*
  - literature_search/**/*
  
# Add 'blockchain' label to any changes in blockchain-related files
blockchain:
  - exchange/**/*
  - blockchain_data/**/*
  
# Add 'ci' label to any changes in CI/CD files
ci:
  - .github/workflows/**/*
  - tests/**/*
  - setup.py
  - pyproject.toml
  - requirements*.txt
